
.question-container {
    position: relative;
    padding: 16px;
    border: 1px solid var(--card-border);
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow);
    background-color: var(--card-bg);
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
}

.question-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 35px;
    padding-right: 52px;
}
.questionCategoryTitle{
    text-align: right;
    margin: 10px 0 0;
    padding: 0;
    font-size: 12px;
}
.question-options {
    list-style: none;
    padding: 0;

}
.question-options li{
    display: flex;
    align-items: center;     /* vertikalno centriranje */
    justify-content: center; /* horizontalno centriranje */
}
.mark-question-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}


.option-item {
    padding: 15px;
    border: 1px solid var(--option-border);
    border-radius: 4px;
    background-color: var(--option-bg);
    margin-bottom: 4px;
    font-family: "Inter", Arial, sans-serif;
    color: var(--option-text);
    text-align: center;
}

.correct-answer {
    background-color: var(--correct-answer);
}

.cursor_hand {
    cursor: pointer;
}

.check_answer {
    margin: 20px 20px 10px;
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    padding: 8px;
    border-radius: 8px;
}

.question-options li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.selected-answer {
    border: 1px solid #e53131;
}